
profiles {
    nasa_pipeline {
        conda.enabled = true
        singularity.enabled = true
        process.executor = 'slurm'
        




        process {
            // i can add params that say Start_w_fastq and one that says Start_w_bams; then add the if then logic to the main nf script workflow
            // params.Start_w_fastq = fasle
            // params.Start_w_bams = false

            // I want to make it so the user can specify if these are paired end reads or single end reads
            params.PE = false
            params.SE = false
            
            // adding another parameter for if the user knows the adapter sequence or not
            params.ada_Seq = false
            
            /*
            withName: download_genomes {
                memory = 50.GB
                time = '1.h'

            }*/ 

            withName: fastp_SE_adapter_known {
                memory = 50.GB
                time = '1.h'
            }
            withName: fastp_SE {
                memory = 50.GB
                time = '1.h'
            }
            withName: fastqc_SE {
                memory = 50.GB
                time = '1.h'
            }
            
            
            withName: multiqc_SE {
                memory = 50.GB
                time = '1.h'
            }

            withName: bwa_index_genome {
                memory = 150.GB
                time = '1.h'
            }

            withName: bwa_align_SE {
                memory = 20.GB
                time = '5.h'
                cpus = 20

            }

            withName: samtools_sort {
                memory = 8.GB
                time = '1.h'
                cpus = 10
            }

            /*withName: fastp_PE {
                memory = 50.GB
                time = '1.h'
            }*/

        }

    }
}